# TMDB API Configuration
VITE_TMDB_API_KEY=your_tmdb_api_key_here
VITE_TMDB_BASE_URL=https://api.themoviedb.org/3

# Streaming Service URLs
VITE_VIDLINK_URL=https://vidlink.pro
VITE_VIDKING_URL=https://www.vidking.net
VITE_VIDEASY_URL=https://player.videasy.net
VITE_2EMBED_URL=https://www.2embed.skin
VITE_PEACHIFY_URL=https://peachify.pro
VITE_EMBED_API_BASE_URL=https://player.embed-api.stream
# Proxy Service URLs
VITE_PROXY_URLS=["https://corsproxy.io/?"] 
